name: issues

on:
  workflow_call:

jobs:
  help-wanted:
    if: github.event.label.name == 'help wanted'

    runs-on: ubuntu-latest

    steps:
      - name: Add comment
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Thank you for reporting this issue!

            As yoeunes/toastr is an open source project, we rely on the community to help us diagnose and fix issues as it is not possible to research and fix every issue reported to us via GitHub.

            If possible, please make a pull request fixing the issue you have described, along with corresponding tests. All pull requests are promptly reviewed.

            Thank you!
